
.QuestionThree  {
    height:100%;
    /* background-color: 1px solid black; */
    background-color: white;
    flex-wrap:wrap;
    display: flex;
  

}
.QuestionThree  > div {
    text-align: center;
    font-size: x-large;
    padding: 10px;
    /* border: 1px solid black; */
    background-color:white;
    flex:1;
  

}
.QuestionThree  > div >img{
    height:700px;
    width:700px; 
   
   
}

/* .MaleOrFemale{
    display: flex;
  
} */

 /* .MaleOrFemale div {
     flex-basis:1;
     flex:1;
     justify-content:space-between;
     justify-content:flex-end;
    
}  */
/* .MaleOrFemale div:nth-child(2) {
   flex:3;
   margin-left: auto;
   order: 3;
}  */



